aiohttp==2.3.10
aioredis==1.3.1
alembic==1.7.6
amqp==5.0.6
anyio==3.4.0
apispec==3.3.2
appdirs==1.4.4
APScheduler==3.9.1
argcomplete==1.12.3
argon2-cffi==20.1.0
asgi-redis==1.4.3
asgiref==3.4.1
astroid @ file:///D:/bld/astroid_1591645316676/work
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
autobahn==20.7.1
Automat==20.2.0
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1591017828430/work
awscli==1.22.48
Babel==2.9.1
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
billiard==3.6.4.0
bleach==3.3.0
blinker==1.4
boto3==1.16.28
botocore==1.23.48
Bottleneck==1.3.2
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
camelot-py==0.10.1
cattrs==1.5.0
celery==5.1.1
certifi==2021.10.8
cffi==1.14.0
channels==2.4.0
channels-redis==3.1.0
chardet==3.0.4
charset-normalizer==2.0.10
Click==7.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
cloudconvert==2.0.0
colorama==0.4.3
colorlog==5.0.1
Columnar==1.3.1
commonmark==0.9.1
comtypes==1.1.10
configparser==3.5.3
consonance==0.1.2
constantly==15.1.0
crayons==0.4.0
croniter==1.0.15
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
daphne==2.5.0
dateparser==1.0.0
decorator==4.4.2
deep-translator==1.7.0
defusedxml==0.6.0
demjson==2.2.4
dill==0.3.4
dissononce==0.34.3
distro==1.6.0
Django==3.1.2
django-allauth==0.44.0
django-cors-headers==3.6.0
django-rest-auth==0.9.5
djangorestframework==3.12.1
dnspython==1.16.0
docker==4.4.1
docopt==0.6.2
docutils==0.15.2
elastic-transport==8.0.1
elasticsearch==8.0.0
email-validator==1.1.3
entrypoints==0.3
et-xmlfile==1.1.0
excalibur-py==0.4.3
extruct==0.13.0
facebook-scraper==0.2.45
fake-useragent==0.1.11
fastapi==0.70.1
Flask==1.1.2
Flask-AppBuilder==3.4.4
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Caching==1.10.1
Flask-Compress==1.11
Flask-Cors==3.0.10
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
flask-mysql-connector==1.1.0
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fleep==1.0.1
fontstyle==1.0.1.2
ftfy==6.1.1
futures==3.0.5
gcloud==0.17.0
ghostscript==0.7
google-images-download==2.8.0
googleapis-common-protos==1.54.0
googletrans==3.0.0
goslate==1.5.2
graphviz==0.19.1
greenlet==1.1.0
gTTS==2.2.2
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
herokuify-scrapyd==1.0
hijri-converter==2.2.2
hiredis==1.1.0
hpack==3.0.0
hstspreload==2021.12.1
html-text==0.5.2
html5lib==1.1
httpcore==0.9.1
httplib2==0.20.2
httptools==0.2.0
httpx==0.13.3
hyperframe==5.2.0
hyperlink==19.0.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
idna-ssl==1.1.0
ijson==3.1.4
imageio==2.9.0
imageio-ffmpeg==0.4.4
imgur-python==0.2.3
importlib-metadata==4.11.0
importlib-resources==5.4.0
incremental==17.5.0
inflection==0.5.1
iniconfig==1.1.1
insta-scrape==2.1.2
instagram-scraper==1.10.4
instagramy==4.4
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593447482397/work
ipython_genutils==0.2.0
ipywidgets==7.6.3
iso3166==1.0.1
iso8601==1.0.2
isodate==0.6.1
isort==4.3.21
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1593694453559/work
itemloaders==1.0.4
itsdangerous==1.1.0
jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==2.11.2
jmespath==0.10.0
jsonschema==3.2.0
jstyleson==0.0.2
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jws==0.1.3
kiwisolver==1.3.1
kombu==5.1.0
lazy-object-proxy==1.4.3
libmagic==1.0
liquipediapy==2.1.0
lockfile==0.12.2
logparser==0.8.2
lxml @ file:///D:/bld/lxml_1594322910610/work
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==1.1.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.4.2
mccabe==0.6.1
mf2py==1.1.2
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
moviepy==1.0.3
msgpack==1.0.0
msgpack-python==0.5.6
multidict==4.7.6
mysql==0.0.2
mysql-connector-python==8.0.25
mysqlclient==2.0.2
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.3.0
num2words==0.5.10
numexpr @ file:///C:/ci/numexpr_1618856738664/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1634106873763/work
oauth2client==3.0.0
oauthlib==3.1.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
opencv-python==4.5.3.56
openpyxl==3.0.9
openwa==1.3.13
orjson==3.6.5
packaging==20.7
pandas==1.3.5
pandocfilters==1.4.3
parse==1.19.0
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1591122878042/work
parso==0.7.0
pdfminer.six==20211012
pdftopng==0.2.3
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.2
pipreqs==0.4.10
playsound==1.2.2
pluggy==0.13.1
priority==1.3.0
prison==0.2.1
proglog==0.1.9
prometheus-client==0.10.1
prompt-toolkit==3.0.5
Protego==0.1.16
protobuf==3.17.0
proxy-requests==0.5.1
psutil==5.9.0
ptyprocess==0.7.0
py==1.9.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1589305246696/work
pycountry==20.7.3
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pycryptodome==3.9.9
pydantic==1.8.2
PyDispatcher==2.0.5
pyee==8.1.0
pyglet==1.5.7
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
pylint @ file:///D:/bld/pylint_1592404526574/work
pymongo==3.9.0
PyMySQL==0.10.1
pyodbc==4.0.30
pyOpenSSL==19.1.0
pyparsing==2.4.7
PyPDF2==1.26.0
pyquery==1.4.3
pyRdfa3==3.5.3
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.8
pytest==6.1.2
python-axolotl==0.2.2
python-axolotl-curve25519==0.4.1.post2
python-daemon==2.3.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-jwt==2.0.1
python-magic==0.4.22
python-magic-bin==0.4.14
python-multipart==0.0.5
python-nvd3==0.15.0
python-slugify==4.0.1
python3-ghostscript==0.5.0
python3-openid==3.2.0
pyttsx3==2.90
pytube==10.8.2
pytz==2021.3
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qrcode==6.1
qtconsole==5.1.0
QtPy==1.9.0
queuelib==1.5.0
r6sapi==1.3.0
rdflib==6.1.1
rdflib-jsonld==0.6.2
redis==2.10.6
regex==2020.11.13
requests==2.27.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
retrying==1.3.3
rfc3986==1.5.0
rich==11.2.0
rsa==4.7.2
s3transfer==0.5.1
scrapinghub==2.3.1
Scrapy==2.5.1
scrapy-selenium==0.0.7
scrapy-splash==0.7.2
scrapyd==1.3.0
scrapyd-client @ git+https://github.com/scrapy/scrapyd-client.git@c7b00fe8a05003e426cb1891a49fe266ffba03dd
scrapydweb==1.4.0
scrapyrt==0.13.0
secret==0.8
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
setproctitle==1.2.2
shub==2.13.0
simplejwt==2.0.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.4.14
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlparse==0.3.1
starlette==0.16.0
string-color==1.2.1
swagger-ui-bundle==0.0.9
tabula-py==2.3.0
tabulate==0.8.9
tenacity==8.0.1
termcolor==1.1.0
terminado==0.9.5
tesseract==0.1.3
testpath==0.4.4
text-unidecode==1.3
toolz==0.11.1
tornado==6.1
tqdm==4.55.1
traitlets==4.3.3
transitions==0.8.8
twilio==6.45.4
Twisted==20.3.0
txaio==20.4.1
typing==3.7.4.3
typing_extensions==4.0.1
tzlocal==2.1
uberegg==0.1.1
ujson==4.3.0
unicodecsv==0.14.1
Unidecode==1.3.3
urllib3==1.26.8
uvicorn==0.15.0
vine==5.0.0
webdriver-manager==3.4.2
webencodings==0.5.1
webp==0.1.1
websocket-client==0.57.0
websockets==10.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
Wikipedia-API==0.5.4
wrapt==1.11.2
WTForms==2.3.3
xlrd==1.2.0
yarg==0.1.9
yarl==1.5.1
yowsup==3.2.3
zipp==3.7.0
zope.interface==5.1.0
